*{
  margin: 0;
  padding: 0;
}
body{
  color: white;
  background: black;
}
a{
  text-decoration: none;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}

.topNavBar{
  padding: 20px 16px;
}
.topNavBar .logo{
  float: left;
  padding-top: 3px;
  padding-bottom: 4px;
}
.topNavBar .logo .rs{
  font-size: 24px;
  color: #E6686A;
  padding-right: 6px;
}
.topNavBar .logo .card{
  font-size: 24px;
  color: #9A9DA2;
}
.topNavBar>nav{
  float: right;
  padding-top: 7px;
}
.topNavBar>nav ul{
  list-style: none;
}
.topNavBar>nav>ul>li{
  float: left;
  margin-left: 17px;
  margin-right: 17px;
}
.topNavBar nav li>a{
  font-size: 13px;
  font-weight: bold;
  color: #9A9DA2;
  padding-top: 8px;
  padding-bottom: 5px;
  border-bottom: 3px solid transparent;
  display: block;
}
.topNavBar nav li>a:hover{
  border-bottom-color: #E06567;
}